{% extends 'MyTodoApp/base.html' %}
{% load static %}
{% block content %}
<style>
body
{
background: url('{% static "MyTodoApp/images/clock.png" %}')no-repeat center center fixed;
background-size: cover;
}
</style>
<div class="container pt-4">
    <div class="row p-0 mt-4" >
        <div class="col-lg-4 shadow mx-auto p-0" style="background-color: white">
            <div class="alert alert-secondary" style="font-family: serif;"><h1>Add New ToDo</h1></div>
            <div class="p-4">
                <form method="POST" action="/add_todo" style="font-family: serif;font-size:21px">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <hr>
                    <input class="btn btn-outline-secondary" type="submit" value="ADD">
                </form>
            </div>
        </div>
        {{todos|length}}
        <div class="col" >
            <div class="border" style="background-color: white">
                {% if todos|length == 0 %}
                <div class="p-4">
                    <br>
                    <br>
                    <div class="alert alert-info text-center">
                        <p class="display-4" style="font-size:30px;">No Todos</p>
                    </div>
                    <br>
                    <br>
                </div>

                {% else %}
                <div>
                    <table class="table">
                        <thead class="alert alert-secondary" style="font-family: serif;font-size:22px">
                        <tr>
                            <th>#</th>
                            <th>Title</th>
                            <th>Status</th>
                            <th>Priority</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for todo in todos %}
                        <tr style="font-family: serif;font-size:21px">
                            <td>{{forloop.counter}}</td>
                            <td>{{todo.title}}</td>
                            <td>
                                {% if todo.status == 'P' %}
                                <div title="Pending">
                                   🕒
                                </div>
                                {% else %}
                                <div title="Completed">
                                ✔️
                                </div>
                                {% endif %}
                            </td>
                            <td>{{todo.priority}}</td>
                            <td>
                                <a href="delete-todo{{todo.id}}" class="" title="Delete">🗑️</a>
                                {% if todo.status == 'P' %}
                                <a href="change-status{{todo.id}}/C" class="" title="Mark Completed">✔️</a>
                                {% else %}
                                <a href="change-status{{todo.id}}/P" class="" title="Mark Pending">🕒</a>
                                {% endif %}
                            </td>
                        </tr>
                        {%endfor%}
                        </tbody>
                    </table>
                </div>

                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
<!--&lt;!&ndash;{{todo.title}}&ndash;&gt;{{todo.status}}-->