{% extends 'MyTodoApp/base.html' %}
{% load static %}
{% block content %}
<style>
body
{
background: url('{% static "MyTodoApp/images/Office Vibes.jfif" %}')no-repeat center center fixed;

}
</style>
<div class="container">
    <div class="col-lg-5 shadow mx-auto p-0 mt-4"style="background-color: white">
    <div class="alert alert-secondary  text-center" style="font-family: serif"><h1>Signup</h1></div>
    <div class="p-4">
        <form method="POST" action="/signup" style="font-family: serif; font-size:18px">
            {% csrf_token %}
        {{ form.as_p }}
            <hr>
        <input class="btn btn-primary " type="submit" value="Create Account">
    </form>
    </div>
</div>
</div>
{% endblock %}